<p id="notice"><%= notice %></p>

<p>
  <strong>Eui:</strong>
  <%= @message.eui %>
</p>

<p>
  <strong>Payload:</strong>
  <%= @message.payload %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @message.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @message.long %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
